@model CMDB.ViewModels.vCI_Attributes_CU

@{
    ViewBag.Title = "Edit";
}

<h2>編輯屬性</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @*<h4>vCI_Attributes_CU</h4>*@
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.AttributeID)

        <div class="form-group">
            @Html.LabelFor(model => model.AttributeName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AttributeName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AttributeName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AttributeType, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.AttributeTypeID, (SelectList)Model.AttributeType, new { Class = "form-control", id = "AttributeTypeID" })
            </div>
        </div>

        <div class="form-group DropDownValue">
            @Html.LabelFor(model => model.DropDownValues, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DropDownValues, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DropDownValues, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AllowMutiValue, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.CheckBox("AllowMutiValue", new { id = Model.AllowMutiValue, @class = "form-control" })*@
                @Html.CheckBoxFor(model => model.AllowMutiValue, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AllowMutiValue, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AllowSearch, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.CheckBox("AllowMutiValue", new { id = Model.AllowMutiValue, @class = "form-control" })*@
                @Html.CheckBoxFor(model => model.AllowSearch, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AllowSearch, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="儲存" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("返回屬性清單", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

@section EditAttributeScript
{
    <script>
        $(function () {
            //取得屬性選單
            getAttributeDropList("", "SearchAttributeID");
            $("#SearchAttributeID").prepend("<option value='0'>物件名稱</option>");

            $(".DropDownValue").show();
            var AttributeTypeID = $("#AttributeTypeID").val();
            if (AttributeTypeID!="4") {
                $(".DropDownValue").hide();
            }

            $("#AttributeTypeID").change(function () {
                var AttributeTypeID = $(this).val();
                //alert(AttributeTypeID);
                if (AttributeTypeID == "4") {
                    $(".DropDownValue").show();
                }
                else {
                    $(".DropDownValue").hide();
                }
            });

            $("#Searchbtn").click(function () {
                var Keyword = $("#Keyword").val();
                var SearchAttributeID = $("#SearchAttributeID").val();
                var Url = "/ObjectSearch/Index?AttributeID=" + SearchAttributeID + "&Keyword=" + encodeURIComponent(Keyword);
                //alert("Keyword:" + Keyword);
                document.location.href = Url;
            });
        });
    </script>
}
