@model  CMDB.ViewModels.vCI_Attributes_List

@{
    ViewBag.Title = "Index";
}

<h2>屬性管理</h2>

@if (Model.Authority == 1)
{
    <p>
        @Html.ActionLink("建立屬性", "Create")
    </p>
}

@if (Model.ReviewCount > 0)
{
    <hr />
    <div class="row">
        <label class="control-label col-md-12">待覆核屬性:<a href=@Url.Action("ReviewIndex")>@Model.ReviewCount.ToString()</a></label>
    </div>
    <hr />
}

@if (TempData["SystemInfo"].ToString() == "OK")
{
    <table class="table table-bordered">
        <tr class="active">
            <th>
                @Html.DisplayNameFor(model => model.AttributesData.First().AttributeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AttributesData.First().AttributeTypeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AttributesData.First().Creator)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AttributesData.First().CreateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AttributesData.First().Upadter)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AttributesData.First().UpdateTime)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.AttributesData)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.AttributeName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AttributeTypeName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Creator)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreateTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Upadter)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UpdateTime)
                </td>
                <td>
                    @if (Model.Authority == 1)
                    {
                        string aa = " |";
                        if (item.EditAccount == "noBody")
                        {

                            @Html.ActionLink("編輯", "Edit", new { AttributeID = item.AttributeID }) ;
                            @aa;
                            @*@Html.ActionLink("刪除", "Delete", new { AttributeID = item.AttributeID });*@
                        }
                        else
                        {
                            <label class="text-danger">此筆資料正被 @item.EditAccount 編輯</label>
                            @aa;
                        }
                        @Html.ActionLink("詳細資料", "Details", new { AttributeID = item.AttributeID }) ;
                    }
                    else
                    {
                        @Html.ActionLink("詳細資料", "Details", new { AttributeID = item.AttributeID });
                    }
                </td>
            </tr>
        }
    </table>
}
else
{
    <h3>@TempData["SystemInfo"].ToString()</h3>
}
