@model CMDB.ViewModels.vCI_Proflies_List

@{
    ViewBag.Title = "Index";
}

<h2>範本管理</h2>

@if (Model.Authority == 1)
{
    <p>
        @Html.ActionLink("建立範本", "Create")
    </p>
}

@if (Model.ReviewCount > 0)
{
    <hr />
    <div class="row">
        <label class="control-label col-md-12">待覆核範本:<a href=@Url.Action("ReviewIndex") class="ReviewNumLink">@Model.ReviewCount.ToString()</a></label>
    </div>
    <hr />
}

@if (TempData["SystemInfo"].ToString() == "OK")
{
    <table class="table table-bordered">
        <thead>
            <tr class="active">
                <th>
                    @Html.DisplayNameFor(model => model.ProfilesData.First().ProfileName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProfilesData.First().Creator)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProfilesData.First().CreateTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProfilesData.First().Upadter)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProfilesData.First().UpdateTime)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ProfilesData)
            {
                <tr>
                    <td>
                        @if (Model.Authority == 1)
                        {
                            string aa = " |";

                            if (item.EditAccount == "noBody")
                            {
                                @Html.ActionLink("編輯", "Edit", new { ProfileID = item.ProfileID })
                                @aa;
                                @*@Html.ActionLink("刪除", "Delete", new { ProfileID = item.ProfileID });*@
                            }
                            else
                            {
                                <label class="text-danger">此筆資料正被 @item.EditAccount 編輯</label>
                                @aa;
                            }
                            @*@Html.ActionLink("詳細資料", "Details", new { ProfileID = item.ProfileID }) ;*@
                        }
                        else
                        {
                            @*@Html.ActionLink("詳細資料", "Details", new { ProfileID = item.ProfileID }) ;*@
                    }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProfileName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Creator)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreateTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Upadter)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UpdateTime)
                    </td>
           
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <h3>@TempData["SystemInfo"].ToString()</h3>
}

@section IndexScript{
    <script>
            $(function () {
                //取得屬性選單
                getAttributeDropList("", "SearchAttributeID");
                $("#SearchAttributeID").prepend("<option value='0'>物件名稱</option>");

                $("#Searchbtn").click(function () {
                    var Keyword = $("#Keyword").val();
                    var SearchAttributeID = $("#SearchAttributeID").val();
                    var Url = "/ObjectSearch/Index?AttributeID=" + SearchAttributeID + "&Keyword=" + encodeURIComponent(Keyword);
                    //alert("Keyword:" + Keyword);
                    document.location.href = Url;
                });
            });
    </script>
}