@model  CMDB.ViewModels.vCI_Objects_List
@{
    ViewBag.Title = "Index";
}

<h2>物件查詢</h2>
<p></p>
<div class="row form-inline">     
        <div class="col-md-10">
            @Html.LabelFor(model => model.Profile, htmlAttributes: new { @class = "control-label" })
            @Html.DropDownListFor(model => model.ProfileID, (SelectList)Model.Profile, new { Class = "form-control", id = "ProfileID" })
            @if (Model.Authority == 1){
                //@Html.ActionLink("建立物件", "Create", "Object",null,new { id="aaaa"})
                <a id="CreateObject" href="#">建立物件</a>
            }
        </div>
    </div>
<br />
@if (TempData["SystemInfo"].ToString() == "OK")
{
    <table class="table table-bordered">
        <tr class="active">
            <th>
                @Html.DisplayNameFor(model => model.ObjectsData.First().ObjectName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ObjectsData.First().ProfileName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ObjectsData.First().Creator)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ObjectsData.First().CreateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ObjectsData.First().Upadter)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ObjectsData.First().UpdateTime)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.ObjectsData)
                {
            <tr>
                <td>
                    @if (Model.Authority == 1)
                    {
                        string aa = " |";
                        if (item.EditAccount == "noBody")
                        {
                            @Html.ActionLink("編輯", "Edit", "Object", new { ObjectID = item.ObjectID }, null) ;
                            @aa;
                            @*@Html.ActionLink("刪除", "Delete", new { AttributeID = item.AttributeID });*@
                        }
                        else
                        {
                            <label class="text-danger">此筆資料正被 @item.EditAccount 編輯</label>
                            @aa;
                        }
                        @Html.ActionLink("詳細資料", "Details", new { ObjectID = item.ObjectID }) ;
                    }
                    else
                    {
                        @Html.ActionLink("詳細資料", "Details", new { ObjectID = item.ObjectID });
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ObjectName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProfileName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Creator)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreateTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Upadter)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UpdateTime)
                </td>

            </tr>
        }
    </table>
}
else
{
    <h3>@TempData["SystemInfo"].ToString()</h3>
}

@section IndexScript{
    <script>
        $(function () {
            //取得屬性選單
            getAttributeDropList("", "SearchAttributeID");
            $("#SearchAttributeID").prepend("<option value='0'>物件名稱</option>");

            $("#Searchbtn").click(function () {
                var Keyword = $("#Keyword").val();
                var SearchAttributeID = $("#SearchAttributeID").val();
                var Url = "/ObjectSearch/Index?AttributeID=" + SearchAttributeID + "&Keyword=" + encodeURIComponent(Keyword);
                //alert("Keyword:" + Keyword);
                document.location.href = Url;
            });

            $("#ProfileID").change(function () {
                var _ProfileID = $("#ProfileID").val();
                //getAttributeInputList(_ProfileID);
                //getRelationshipProfileMenu(_ProfileID);

                var Url = "/ObjectSearch/Index?ProfileID=" + _ProfileID;
                //alert("Keyword:" + Keyword);
                document.location.href = Url;
            });

            $("#CreateObject").click(function () {
                var _ProfileID = $("#ProfileID").val();
                var Url = "/Object/Create?ProfileID=" + _ProfileID;
                //alert("Keyword:" + Keyword);
                document.location.href = Url;
                //alert("CreateObject");
            });
        });
    </script>
}


